/**
 * Main CSS Element Overrides
 */
html {overflow-y: scroll;}
body {
    background-image: url('/media/img/header_bg.png');
    background-repeat: repeat-x;
}
td, th {
    border:none;
    vertical-align:top;
}
label { clear:both; display:block; font-weight:bold}
label input, textarea, select { clear:both; display:block;}
input,select {display:inline;clear:none}
form p {
    padding:3px;
}
a, a:visited, a:active {
    color: #000080;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/**
 * Header Stuff
 */
#hd {
    height: 130px;
}
#crest {
    margin-top: 8px;
    margin-left: 10px;
    vertical-align: middle;
}
#slogan {
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
}
#hd_gradient_div {
    height: 25px;
    text-align: right;
    padding-top:7px;
}
/**
 * Sidebar Stuff
 */
.sidebar_block {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    width:90%;
    margin:0 auto;
    margin-top:6px;
}
.sidebar_block h1 {
    background-color: #dddddd;
    background-image: url('/media/img/orange_fader_ltop.png');
    padding: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
    margin: 0px;
    color: #494949;
    font-size: 1.1em;
}
.sidebar_block p {
    padding:5px
}
.sidebar_footer {
    border-top:1px solid #a9a9a9;
    padding:3px;
    font-size:95%;
}
.sidebar_block_line_entry {
    padding:5px 5px 5px 10px;
    border-bottom:1px solid #D8D8D8;
    font-size:0.9em;
}
/**
 * Navigation Bar Lists
 */
.navlist {
    padding: 0px;
    margin: 0;
    background-color: white;
}
.navlist li {
    list-style: none;
    margin: 0px;
    border-bottom: 1px gray dotted;
    text-align: left;
    border-left: 3px #FF8000 solid;
}
.navlist li:last-child {
    border-bottom: none;
}
.navlist .last_link {
	border-bottom: none;
}
.navlist li a {
    display: block;
    padding: 0.5em 0.5em 0.5em 0.9em;
    text-decoration: none;
    font-size: 0.9em;
}
.navlist li a:link { color: #000; }
.navlist li a:visited { color: #006; }
.navlist li a:hover {
    color: #000080;
    background-color: #F9E7D5;
}
/**
 * Pagination Controls
 */
.pagination_controls {
    margin:8px;
}
.pagination_controls a {
	color: #000080;
    border:1px gray solid;
    border-bottom:3px solid #FF8000;
    border-top:3px solid #FF8000;
    padding:3px 5px 3px 5px;
    background-color: white;
    text-decoration:none;
    font-size:0.8em;
}
.pagination_controls .inactive {
    border:1px #c2c2c2 solid;
    border-bottom:3px solid #c2c2c2;
    border-top:3px solid #c2c2c2;
    padding:3px 5px 3px 5px;
    background-color: #f5f5f5;
    font-size:0.8em;
}
.pagination_controls a:hover {
    color: #000080;
    background-color: #F5D0A9;
}
/**
 * Table Styles
 */
.pretty_table th {
    background-color: #dddddd;
    background-image: url('/media/img/orange_fader_ltop.png');
    color: #494949;
    padding: 3px;
}
.pretty_table td,th {
    border: 1px solid #dddddd;
    vertical-align: middle;
}
.pretty_table td img {
    vertical-align: middle;
}
.condensed_cells td {
    font-size: 0.9em;
}
.newform_auto_table th {
    font-weight: bold;
    text-align: right;
    border: none;
}
td.desc {
    padding: 4px;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}
td.label_cell_ra {
    font-weight: bold;
    text-align: right;
}
.noborder {
    border: none;
}
/**
 * Vertical Button Bar
 */
.vert_button_bar {
    margin-top:3px;
}
.vert_button_bar a {
    padding:3px;
    padding-left:7px;
    display:block;
    border-bottom:1px solid #CECEDE;
    color:#000080;
    text-decoration:none;
}
.vert_button_bar a:hover {
    background-color:#EDEDF8;
}
.vert_button_bar img {
    vertical-align:middle;
    display:inline;
}
/**
 * News Styles
 */
.news { 	
    margin:0 auto;
    padding:7px;
    padding-top:0px;
    margin-bottom:5px;
    width:95%;
    text-align:left;
    vertical-align: middle;	
    background-color:#ffffff;
    border:1px solid #D8D8D8;
}

.news h1 {
    margin:-0.5em 0 -.5em 0;
    padding:.75em 0 0 0;
    font-size:1.3em;
}

.news h2 {
    margin:0;
    padding:.75em 0px 5px 0px;
    font-size:.8em;
    font-weight:lighter;
    letter-spacing:.1em;
}
/**
 * Misc Styles
 */
#ft {
    text-align:center;
    border-top:1px solid #E0E0E0;
    padding:5px;
    font-size:0.9em;
    margin-top:10px;
}
#admin_toolbar {
	border:1px solid gray;
	padding:5px;
	display:inline;
	clear:both;
}
#admin_toolbar img {
    vertical-align:middle;
}
.message_block { 
	border:1px solid #78ff78;
	background-color: #ceffce;
	color: #015a01;
    font-weight:bold;
    display:block;
    clear:both;
    padding:5px;
    margin:7px;
    width:50%;
    text-align:center
}
.gray_box { border:1px solid gray;padding:7px;display:inline;clear:both}
.centered { text-align:center }
.intensity_low {
	background-color: #ceffce;
}
.intensity_moderate {
    background-color: #f9fcb8;
}
.intensity_high {
    background-color: #ffdcdc;
}
.season_nav_row a:hover {
    text-decoration:none;
    color:red;
}
.season_nav_row td {
    border:none;
}
.right_align {
    text-align:right;
}
.bottom_selector td {
    border:none;
    text-align:center;
}
.errorlist {
    color:red;
}
