<div class="pagination_controls">
  <a href="{{request.PATH_INFO}}?page=1{{extra_link}}">First</a>
  {% if page_obj.has_previous %}
    <a href="{{request.PATH_INFO}}?page={{page_obj.previous_page_number}}{{extra_link}}">Prev</a>
  {% else %}
    <span class="inactive">Prev</span>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{{request.PATH_INFO}}?page={{page_obj.next_page_number}}{{extra_link}}">Next</a>
  {% else %}
    <span class="inactive">Next</span>
  {% endif %}
  
  <a href="{{request.PATH_INFO}}?page={{paginator.num_pages}}{{extra_link}}">Last</a>
  <span style="font-size:0.8em;margin-left:20px">(Page {{page_obj.number}} of {{paginator.num_pages}} out of a set of {{paginator.count}} total {{pag_item_name|default:"items"}})</span> 
  
  <span style="font-size:0.8em;margin-left:20px">
      <strong>Page Jump:</strong>
      <select onchange="document.location.href = '{{request.PATH_INFO}}?page='+ this.options[this.selectedIndex].value +'{{extra_link}}'">
      {% for page in paginator.page_range %}
        <option value="{{page}}" {% ifequal page_obj.number page %}selected="selected"{% endifequal %}>{{page}}</option>
      {% endfor %}
      </select>
  </span>
</div>
